<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="configName" value="ECM.ini"/>
    <add key="Net#Server" value="http://test.epcbm.com/web"/>
    <add key="AppName" value="ECM"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
